# Python program to interchange first and last elements in a list

list=[1,4,5,6,99]
output should be like
list=[99,4,5,6,1]

In [1]:
list1=[1,2,3,4,99]
print(" list is look like that before operation\n",list1 ,"\n")

temp=list1[0]                 #### 1 first element assigning to a variable temp
list1[len(list1)-1]           ####99 last element
list1[0]=list1[len(list1)-1]  ### assigning last element to index 0

list1[len(list1)-1]=temp       ## assigning  variable temp to last element.

print("After interchaning the first and last element")
list1

 list is look like that before operation
 [1, 2, 3, 4, 99]

After interchaning the first and last element

[99, 2, 3, 4, 1]

# Python program to swap two elements in a list

In [2]:
list1=[1,2,3,4,5,77,88,55,11,34,0,89,578]

print("Before swapping position the list is look alike::>> ",list1)

pos1=int(input("Enter position one:: >> "))
pos2=int(input("Enter position two:: >> "))

temp=list1[pos1-1]
list1[pos1-1]=list1[pos2-1]
list1[pos2-1]=temp

print("After swapping position the list is look alike::>> ",list1)
list1

Before swapping position the list is look alike::>>  [1, 2, 3, 4, 5, 77, 88, 55, 11, 34, 0, 89, 578]
Enter position one:: >> 4
Enter position two:: >> 5
After swapping position the list is look alike::>>  [1, 2, 3, 5, 4, 77, 88, 55, 11, 34, 0, 89, 578]

[1, 2, 3, 5, 4, 77, 88, 55, 11, 34, 0, 89, 578]

# Python | Ways to find length of list

In [3]:
list1=[1,2,3,4,5,6,7,8,9,10]
print("The list is look like",list1,"\n")
count=0
for i in list1:
    count = count+1
print("The length of the list is ::>> ",count)

The list is look like [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

The length of the list is ::>>  10

# Check if element exists in list in Python

In [4]:
list1=[1,2,3,4,5,76,23,442]
checking_item=int(input("Enter the item you want to check\t"))
for i in list1:
    if(i==checking_item):
        print("element exist")

Enter the item you want to check	5
element exist

In [5]:
if 2 in list1:
    print("element exist")

element exist

# Different ways to clear a list in Python

In [6]:
ls=[1,3,4,2,4,362,743,6364]

In [7]:
ls.clear() ### clearing full list element.
ls

[]

In [8]:
ls=[1,3,4,2,4,362,743,6364,1,1,4]

In [9]:
del ls[4] ## removes the first occurance of that value
ls

[1, 3, 4, 2, 362, 743, 6364, 1, 1, 4]

In [10]:
ls.remove(1) #### removes the first occurance of that value

In [11]:
ls

[3, 4, 2, 362, 743, 6364, 1, 1, 4]

In [12]:
del ls[:] ## ### clearing full list element.
ls

[]

In [13]:
ls=[1,3,4,2,4,362,743,6364,1,1,4]

In [14]:
ls

[1, 3, 4, 2, 4, 362, 743, 6364, 1, 1, 4]

In [15]:
del ls [1:4]
ls

[1, 4, 362, 743, 6364, 1, 1, 4]

#  Reversing a List in Python

In [16]:
ls=[1,2,3,4,5,6]
ls[::-1]

[6, 5, 4, 3, 2, 1]

In [17]:
ls

[1, 2, 3, 4, 5, 6]

In [18]:
ls[len(ls):0]

[]

In [19]:
ls

[1, 2, 3, 4, 5, 6]

In [20]:
ls.reverse()

In [21]:
ls

[6, 5, 4, 3, 2, 1]

In [22]:
ls.reverse()
ls

[1, 2, 3, 4, 5, 6]

list1=[1,2,3,4,5,6,90]
output=[3,4,5,6,90,1,2] #d =2
rotating the array of size n in d position

In [52]:
ls=[1,2,3,4,9,10]
outputls=[]
d=int(input("Enter value of d"))
for i in range(d,len(ls)):
    print( ls[i])
    outputls.append(ls[i])
outputls
for i in range(0,d):
    outputls.append(ls[i])
outputls

Enter value of d2
3
4
9
10

[3, 4, 9, 10, 1, 2]

In [66]:
list1=[1,2,3,5,6,79,10]
d=int(input("enter d value"))
outputls=list1[d:]+list1[:d]
outputls

enter d value5

[79, 10, 1, 2, 3, 5, 6]